<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <properties resource="mybatis/generator.properties"/>

    <context id="MySql" defaultModelType="flat">

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <jdbcConnection
                driverClass="${jdbc.driverClass}"
                connectionURL="${jdbc.connectionURL}"
                userId="${jdbc.userId}"
                password="${jdbc.password}" >
            <property name="nullCatalogMeansCurrent" value="true" />
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.zy.study.dao.model" targetProject="src/main/java"/>

        <sqlMapGenerator targetPackage="mybatis.mapper"  targetProject="src/main/resources"/>

        <javaClientGenerator targetPackage="com.zy.study.dao.mapper" targetProject="src/main/java"
                             type="XMLMAPPER"/>

        <table tableName="%">
            <property name="modelOnly" value="false"/>
        </table>

    </context>

</generatorConfiguration>